{
    "plugins": [
        "react"
    ],
    "settings": {
        "react":{
            "version":"detect"
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
       "no-set-state": "off",
       "class-methods-use-this": "error",
       "no-invalid-this": "error",
       "array-bracket-newline": "error",
       "array-bracket-spacing":"error",
       "array-element-newline":["error","consistent"],
       "brace-style":["error","1tbs"],
       "camelcase":["error",{
           "properties":"always",
           "ignoreDestructuring":false
       }],
       "comma-dangle": ["error", "never"],
       "comma-spacing": ["error",{
           "before":false,
           "after":true
       }],
       "comma-style":["error","last"],
       "computed-property-spacing":["error","never"],
       "func-call-spacing":["error","never"],
       "func-name-matching":["error","always"],
       "func-names":["error","always"],
       "function-paren-newline":["error","consistent"],
       "indent":"error",
       "key-spacing":["error",{
           "beforeColon":true,
           "afterColon": true,
           "mode":"strict",
           "align":"colon"
       }],
       "lines-between-class-members":["error","always"],
       "max-len": ["error", { "code": 120, "tabWidth": 4 }],
       "no-mixed-spaces-and-tabs":["error","smart-tabs"],
       "no-multiple-empty-lines":["error",{
           "max":2
       }],
       "object-curly-newline":["error",{
           "consistent":true
       }],
       "object-curly-spacing":"error",
       "object-property-newline":"error",
       "semi-style": ["error", "last"],
       "arrow-body-style": ["error", "as-needed"],
       "arrow-parens":["error","always"],
       "arrow-spacing" : "error",
       "no-duplicate-imports": "error",
       "no-useless-rename": "error",
       "no-var":"error",
       "prefer-const":"error",
       "sort-imports":"error"
    },
    "env": { 
        "es6": true,
        "jest": true
     },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals":{
        "localStorage":"writable",
        "document": "readonly"
    }
      }