<section class="banner-bottom-w3layouts py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                 <h2 class="title-wthree text-center mb-lg-5 mb-3">About</h2>
                <div class="row">
                    <div class="col-lg-6 about-img" data-aos="flip-right">
                        <img class="img-fluid" src="/static/images/ab.jpg" alt="">
                    </div>
                    <div class="col-lg-6 about-right mt-lg-4" data-aos="flip-left">
                        <h4 class="sub-tittle">Who We Are</h4>
                        <h3 class="tittle text-uppercase">Share moments by joining Slika Share today!</h3>
                        <p class="my-4">Share, exchange and comment on photos today with Slika Share</p>
                        <ul class="author d-flex">
                            <li><img class="img-fluid" src="/static/images/team7.jpg" alt=""></li>
                            <li><span>Upload</span></li>
                        </ul>

                        <ul class="author d-flex">
                            <li><img class="img-fluid" src="/static/images/team8.jpg" alt=""></li>
                            <li><span>Comment</span></li>
                        </ul>

                        <ul class="author d-flex">
                            <li><img class="img-fluid" src="/static/images/team9.jpg" alt=""></li>
                            <li><span>Exchange</span></li>
                        </ul>
                            <div layout="row" layout-xs="column" layout-align="center center" >
                                <md-button ><a href="http://google.com">Login</a></md-button>
                                <md-button ><a href="http://google.com/">Sign Up</a></md-button>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
